/* UTULITIES some basic values, reset, general*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.menu li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: white;
  color: black;
  position: sticky;
  top: 0px;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 0 6px 1px #d1d1d1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 16px;
  z-index: 10;
}

.nav-links a {
  color: black;
}

/* LOGO */
.logo-picture {
  height: 100px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 100;
  background-color: white;
  /* margin-top: 35px; */
  /* z-index: 10; */
}

.menu a:hover {
  color: #ffbd59;
  /* background: yellow; */
  /* border-radius: 5px; */
  /* transition: 0.3s ease; */
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown {
  background-color: #f5eae3;
  /* border: 1px solid lightgray; */
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 4px;
  top: 35px;
  z-index: 10;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: rgb(244, 240, 240);
}

.services:hover .dropdown {
  display: block;
}

/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.media-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.image-icon {
  width: 20px;
  margin: 0 10px;
}

/* CONTENT CARD */
.content-card {
  margin: 1rem auto;
  width: 85%;
  height: 600px;
  display: grid;
  grid-template-columns: 68.25% 31.5%;
  grid-template-rows: 49.75% 49.75%;
  column-gap: 0.25%;
  row-gap: 0.5%;
}

/* Post-Card */

.post-card {
  position: relative;
  /* background-color: black; */
  overflow: hidden;
  background-color: blue;
}
.post-card__image {
  height: 500px;
  width: 100px;
  filter: brightness(75%);
  object-fit: cover;
}

.post-card__text-container {
  position: absolute;
  bottom: 0;
  padding: 1rem;
}

.post-card__label {
  margin-bottom: 4px;
}

.post-card__title {
  margin-bottom: 8px;
}

.post-card__label {
  font-size: 12px;
  /* color: palevioletred; */
  font-family: "Montserrat";
  color: #ffbd59;
  text-transform: uppercase;
  font-weight: bolder;
}

.post-card__title {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 900;
  color: white;
}

.post-card__author {
  font-weight: bold;
  color: white;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 10px;
}

.author-post-date-separator {
  color: white;
}

.post-card__post-date {
  color: white;
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 10px;
}

/* Post Card Grid */

.post-card-1 {
  grid-row: span 2;
}

/* CONTENT CARD MENU */
.content-card-menu {
  margin: 1rem auto;
  width: 85%;
  display: flex;
  flex-direction: row;
  /* background-color: #f5eae3; */
  overflow: hidden;
  gap: 32px;
}

.post-card-menu {
  height: 300px;
  /* margin-top: 8px; */
}

.post-card-anak-1 {
  width: 90%;
}

.post-card-menu__image {
  width: 100%;
  /* filter: brightness(75%); */
  /* object-fit: cover; */
}

.post-card-menu__text-container {
  /* position: absolute;
  /* bottom: 50px; */
  width: 80%;
  top: 0;
  right: 0;
  padding: 10px;
  /* background-color: aqua; */
}

/* .post-card-menu__label {
  margin-bottom: 4px;
} */

.post-card-menu__title {
  font-family: "Lato";
  font-size: 32px;
  font-weight: 900;
  color: #ffbd59;
  margin-bottom: 5px;
  display: block;
}

.post-card-menu__author {
  font-weight: bold;
  color: grey;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 14px;
  /* margin-top: 20px; */
}

.author-post-date-separator {
  color: grey;
}

.post-card-menu__post-date {
  color: gray;
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 14px;
}

.post-card-menu__headline {
  font-family: "Montserrat";
  /* text-transform: uppercase; */
  font-size: 16px;
  margin-top: 10px;
  line-height: 30px;
}

/* APPLYING MEDIA QUERIES OR CSS GRID AND JS */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    /* background-color: ; */
    right: 0;
    left: 0;
    text-align: center;
    padding: 20px 0;
    margin-top: 43px;
    z-index: 10;
  }

  .menu li:hover {
    display: inset-block;
    /* color: aquamarine; */
    /* transition: 0.3s ease; */
  }

  .menu li + li {
    margin-top: 6px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
    z-index: 10;
  }

  .dropdown li:hover {
    background-color: rgb(244, 240, 240);
  }

  .content-card {
    /* display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 45% 20.25% 20.25%;
    column-gap: 0;
    row-gap: 0.5%; */
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .post-card {
    height: 300px;
    margin-top: 8px;
  }

  .content-card-menu {
    /* margin: 1rem auto;
    width: 85%; */
    display: flex;
    flex-direction: column;
  }
  .post-card-menu {
    height: 225px;
    margin-top: 8px;
  }
}
