/* UTULITIES some basic values, reset, general*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Source Sans Pro", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    /* background-color: antiquewhite; */
    color:black;

    border-bottom: 1px solid lightgray;
    box-shadow: 0 0 6px 1px #d1d1d1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
}

.nav-links a {
    color: black;
}

/* LOGO */
.logo-picture{
    height: 100px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    font-family: 'Lisu Bosa';
    font-weight: 300;
}

.menu a:hover {
    color: rgba(129, 24, 119, 0.795);
    /* background: yellow; */
    /* border-radius: 5px; */
    /* transition: 0.3s ease; */
    
}

.menu li {
    padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
    position: relative;
}

.dropdown {
    background-color:whitesmoke;
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 0px;
    top: 35px;
}

.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: rgb(205, 179, 202);
}

.services:hover .dropdown {
    display: block;
}

/* CHECKBOX HACK */
input[type=checkbox] {
    display: none;
}

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

.media-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-icon {
    width: 20px;
    margin: 0 5px
}


/* APPLYING MEDIA QUERIES OR CSS GRID AND JS */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        /* background-color: ; */
        right: 0;
        left: 0;
        text-align: center;
        padding: 50px 0;
    }
    
    .menu li:hover {
        display: inset-block;
        /* color: aquamarine; */
        /* transition: 0.3s ease; */
    }

    .menu li + li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown li:hover {
        background-color: rgb(205, 179, 202);
    }

}